@charset "UTF-8";

/* Light theme color */
$light-background: #ececec;
$light-background-secondary: #d6d6d6;
$light-background-header: #e5e5e5;
$light-color: #222;
$light-color-variant: #111;
$light-color-secondary: #666;
$light-border-color: #bbbbbb;
$light-table-color: #bbbbbb;

/* Dark theme colors */
$dark-background: #232425;
$dark-background-secondary: #3b3d42;
$dark-background-header: #1b1c1d;
$dark-color: #b0b0bc;
$dark-color-variant: #f5f5f5;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;

