<!-- Google Analytics / Google Tag Manager -->
<!-- Replace the content below with your actual Google tracking code -->

<!-- Google tag (gtag.js) - Replace GA_MEASUREMENT_ID with your actual ID -->
{{- if .Site.Params.googleAnalyticsID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalyticsID }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ .Site.Params.googleAnalyticsID }}');
</script>
{{- end }}

<!-- Alternative: Google Tag Manager Container -->
<!-- Uncomment the section below if you're using Google Tag Manager instead -->
{{- if .Site.Params.googleTagManagerID }}
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ .Site.Params.googleTagManagerID }}');</script>
<!-- End Google Tag Manager -->
{{- end }}

<!-- Custom Tracking Code Section -->
<!-- You can paste any additional tracking code below this line -->
{{- if .Site.Params.customTrackingCode }}
{{ .Site.Params.customTrackingCode | safeHTML }}
{{- end }}